<html>
    <head>
        <title>Aitchison College Salary Slip</title>
        <link rel="stylesheet" href="/munshi9/standard.css" type="text/css">
        <STYLE TYPE="text/css">
         P.breakhere {page-break-before: always}
        </STYLE>
    </head>
<body>

[% FOREACH id IN hdr.keys.sort %]
<div align="right">Private and Confidential</div>
    <table width="100%" border=1 cellpadding=3 cellspacing=0>
        <tr> <!-- First section -->
            <td>
                <table width="100%" border=1 cellpadding=3 cellspacing=0>
                    <tr><th colspan=3>Aitchison College, Lahore<br/>Payslip for the month of [% hdr.$id.sal_month2 %][% sal_year %]</th></tr>
                    <tr><td>
                            <table width="100%">
                                <tr>
                                    <td>Employee Name:</td>
                                    <td>[% hdr.$id.emp_name %]</td>
                                </tr>
                                <tr>
                                    <td>Employee ID</td>
                                    <td>[% hdr.$id.emp_num2 %]</td>
                                </tr>
                                <tr>
                                    <td>Employee Type</td>
                                    <td>[% hdr.$id.emp_type %]</td>
                                </tr>
                                <tr>
                                    <td>Designation</td>
                                    <td>[% hdr.$id.desig %]</td>
                                </tr>
                             </table>
                         </td>
                         <td>
                             <div align="center"><img src=logo.png></div>
                         </td>
                         <td>
                             <table width="100%">
                                <tr>
                                    <td>Date of Joining</td>
                                    <td>[% hdr.$id.doj %]</td>
                                </tr>
                                <tr>
                                    <td>CNIC</td>
                                    <td>[% hdr.$id.nid %]</td>
                                </tr>
                                <tr>
                                    <td>Bank A/C No</td>
                                    <td>[% hdr.$id.bank_acc %]</td>
                                </tr>
                                <tr>
                                    <td>Bank Name</td>
                                    <td>NBP</td>
                                </tr>
                                <tr>
                                    <td>Address</td>
                                    <td>DAVIS ROAD, LAHORE</td>
                                </tr>
                             </table>
                          </td>    
                       </tr>
                </table>
            </td>
        </tr>

        <tr> <!-- Second section -->
            <td>
                <table width="100%" border=1 cellpadding=3 cellspacing=0>
                    <tr>
                        <td valign="top">
                            <table width="100%" border=1 cellpadding=3 cellspacing=0>
                                <tr><th>Allowances</th><th>Deductions</th></tr>
                                <tr><td valign="top">
                                        <table width="100%">
                                            <tr><td>Basic Pay</td><td align="right">[% nf.format_number(hdr.$id.master_basic, 0) %]</td></tr>
                                            <tr><td>House Rent</td><td align="right">[% nf.format_number(hdr.$id.master_hr,0) %]</td></tr>
                                            <tr><td>Convay</td><td align="right">[% nf.format_number(hdr.$id.master_convay,0) %]</td></tr>
                                            <tr><td>Medical All</td><td align="right">0</td></tr>
                                            <tr><td>HM All</td><td align="right">[% nf.format_number(hdr.$id.master_hma,0) %]</td></tr>
                                            <tr><td>HOD All</td><td align="right">[% nf.format_number(hdr.$id.master_hod,0) %]</td></tr>
                                            <tr><td>Ad.Rlf12</td><td align="right">[% nf.format_number(hdr.$id.master_sra,0) %]</td></tr>
                                            <tr><td>Spl.Allow</td><td align="right">[% nf.format_number(hdr.$id.master_other_aamt6,0) %]</td></tr>
                                            <tr><td>[% hdr.$id.other_all1 %]</td><td align="right">[% nf.format_number(hdr.$id.master_other_aamt1,0) %]</td></tr>
                                            <tr><td>[% hdr.$id.other_all2 %]</td><td align="right">[% nf.format_number(hdr.$id.master_other_aamt2,0) %]</td></tr>
                                            <tr><td>[% hdr.$id.other_all3 %]</td><td align="right">[% nf.format_number(hdr.$id.master_other_aamt3,0) %]</td></tr>
                                            <tr><td>[% hdr.$id.other_all4 %]</td><td align="right">[% nf.format_number(hdr.$id.master_other_aamt4,0) %]</td></tr>
                                            <tr><td>D.A (10)</td><td align="right">[% nf.format_number(hdr.$id.master_temp1,0) %]</td></tr>
                                            <tr><td>&nbsp;</td><td align="right">&nbsp;</td></tr>
                                            <tr><td>&nbsp;</td><td align="right">&nbsp;</td></tr>
                                            <tr><td>&nbsp;</td><td align="right">&nbsp;</td></tr>
                                            <tr><th>GROSS PAY</th><th align="right">[% nf.format_number(hdr.$id.master_gross,0) %]</th></tr>
                                            <tr><th>NET PAY</th><th align="right">[% nf.format_number(hdr.$id.net_pay,0) %]</th></tr>
                                         </table>
                                     </td>
                                     <td valign="top">
                                          <table width="100%">
                                            <tr><td>Income Tax</td><td align="right">[% nf.format_number(hdr.$id.tot_tax,0) %]</td></tr>
                                            <tr><td>CPF/GPF</td><td align="right">[% nf.format_number(hdr.$id.fund_ded,0) %]</td></tr>
                                            <tr><td>Tel</td><td align="right">[% nf.format_number(hdr.$id.tel,0) %]</td></tr>
                                            <tr><td>Gas</td><td align="right">[% nf.format_number(hdr.$id.gas,0) %]</td></tr>
                                            <tr><td>Elect</td><td align="right">[% nf.format_number(hdr.$id.elect,0) %]</td></tr>
                                            <tr><td>Medical Ded</td><td align="right">[% nf.format_number(hdr.$id.medical_ded,0) %]</td></tr>
                                            <tr><td>Adv Amt</td><td align="right">[% nf.format_number(hdr.$id.adv_amt,0) %]</td></tr>
                                            <tr><td>Adv Int</td><td align="right">[% nf.format_number(hdr.$id.adv_int,0) %]</td></tr>
                                            <tr><td>G.Insure</td><td align="right">[% nf.format_number(hdr.$id.insure,0) %]</td></tr>
                                            <tr><td>[% hdr.$id.other_ded5 %]</td><td align="right">[% nf.format_number(hdr.$id.other_damt5,0) %]</td></tr>
                                            <tr><td>Water</td><td align="right">[% nf.format_number(hdr.$id.water,0) %]</td></tr>
                                            <tr><td>EOBI Ded</td><td align="right">[% nf.format_number(hdr.$id.eobi_ded,0) %]</td></tr>
                                            <tr><td>[% hdr.$id.other_ded1 %]</td><td align="right">[% nf.format_number(hdr.$id.other_damt1,0) %]</td></tr>
                                            <tr><td>[% hdr.$id.other_ded2 %]</td><td align="right">[% nf.format_number(hdr.$id.other_damt2,0) %]</td></tr>
                                            <tr><td>[% hdr.$id.other_ded3 %]</td><td align="right">[% nf.format_number(hdr.$id.other_damt3,0) %]</td></tr>
                                            <tr><td>LwoP</td><td align="right">[% nf.format_number(hdr.$id.leave_deduction,0) %]</td></tr>
                                            <tr><th>TOTAL DED.</th><th align="right">[% nf.format_number(hdr.$id.total_all_deduction,0) %]</th></tr>
                                         </table>
                                     </td>
                                </tr>
                                <tr><td colspan=2 align="left">
                                        <b>Net Amount of Rs: [% nf.format_number(hdr.$id.net_pay,0) %] for the month of<br/>
                                            [% hdr.$id.sal_month2 %] [% hdr.$id.sal_year %] has been transferred to the<br/>
                                            bank a/c [% hdr.$id.bank_acc %] of NBP<br/><br/><br/></b>
                                        Prepared by: Shahid Taj<br/>
                                        Accountant Jr., Accounts Department<br/><br/><br/>
                                        This is computer generated document<br/> 
                                        and does not require signatures.</td></tr>
                                <tr><td colspan=2 align="left">
                                <br/><br/><br/><br/><br/><br/>
                                <b>Vice Principal (Admin)/Bursar</b>
                                </td></tr>
                            </table>
                        </td>
                        <td valign="top">
                            <table width="100%">
                                <tr><td>
                                    <table width="100%" border=0 cellpadding=3 cellspacing=0>
                                        <tr><th colspan=2>Extra Income</th></tr>
                                        <tr><td>Extra Classes</td><td align="right">[% nf.format_number(hdr.$id.extra_classes,0) %]</td></tr>
                                        <tr><td>Extra Duty</td><td align="right">[% nf.format_number(hdr.$id.extra_duty,0) %]</td></tr>
                                        <tr><td>Eid/Christmas 1</td><td align="right">[% nf.format_number(hdr.$id.eid_christmas1,0) %]</td></tr>
                                        <tr><td>Eid/Christmas 2</td><td align="right">[% nf.format_number(hdr.$id.eid_christmas2,0) %]</td></tr>
                                        <tr><td>Leave Payment</td><td align="right">[% nf.format_number(hdr.$id.leave_payment,0) %]</td></tr>
                                        <tr><td>Other</td><td align="right">[% nf.format_number(hdr.$id.other,0) %]</td></tr>
                                        <tr><td>Total</td><td align="right">[% nf.format_number(hdr.$id.extra_income,0) %]</td></tr>
                                    </table>
                                </td></tr>
                                <tr><td>
                                    <table width="100%" border=0 cellpadding=3 cellspacing=0>
                                        <tr><th colspan=2>Income Tax</th></tr>
                                        <tr><td>Annual Taxable from Salary</td><td align="right">[% nf.format_number(hdr.$id.taxable_income,0) %]</td></tr>
                                        <tr><td>Annual Tax on salary income</td><td align="right">[% nf.format_number(hdr.$id.tax_total,0) %]</td></tr>
                                        <tr><td>Withholding tax deducted by employer</td><td align="right">[% nf.format_number(hdr.$id.inc_tax_ytd,0) %]</td></tr>
                                        <tr><td>Withholding tax paid by employee</td><td align="right">[% nf.format_number(hdr.$id.adv_tax,0) %]</td></tr>
                                        <tr><td>Total tax paid todate</td><td align="right">[% nf.format_number(hdr.$id.inc_tax_ytd + hdr.$id.adv_tax,0) %]</td></tr>
                                        <tr><td>Employee NTN</td><td align="right">[% hdr.$id.ntn %]</td></tr>
                                        <tr><td>Employer NTN</td><td align="right">4199854-5</td></tr>
                                    </table>
                                </td></tr>
                                <tr><td>
                                    <table width="100%" border=0 cellpadding=3 cellspacing=0>
                                        <tr><th colspan=2>Fund/Loan Record</th></tr>
                                        <tr><td>Temporary Advance</td><td align="right">[% nf.format_number(hdr.$id.temp_advance - hdr.$id.adv_amt,0) %]</td></tr>
                                        <tr><td>Permanent Advance</td><td align="right">[% nf.format_number(hdr.$id.perm_advance,0) %]</td></tr>
                                        <tr><td>GPF/CPF Fund Balance</td><td align="right">[% nf.format_number(hdr.$id.fund_balance + hdr.$id.fund_ded2 ,0) %]</td></tr>
                                        <tr><td>Total</td><td align="right">[% nf.format_number(hdr.$id.fld,0) %]</td></tr>
                                        <tr><td>Other Advance</td><td align="right">[% nf.format_number(hdr.$id.fld,0) %]</td></tr>
                                    </table>
                                </td></tr>
                                <tr><td>
                                    <table width="100%" border=0 cellpadding=3 cellspacing=0>
                                        <tr><th colspan=2>Leave Record</th></tr>
                                        <tr><td valign="top">
                                                <table width="100%">
                                                    <tr><td>Annual Casual</td><td align="right">[% nf.format_number(hdr.$id.casual_allowed,0) %]</td></tr>
                                                    <tr><td>Casual YTD</td><td align="right">[% nf.format_number(hdr.$id.casual_mtd,0) %]</td></tr>
                                                    <tr><td>Casual Bal</td><td align="right">[% nf.format_number(hdr.$id.casual_balance,0) %]</td></tr>
                                                    <tr><td>Earned Opng</td><td align="right">[% nf.format_number(hdr.$id.earned_opening,0) %]</td></tr>
                                                    <tr><td>Earned YTD</td><td align="right">[% nf.format_number(hdr.$id.earned_ytd,0) %]</td></tr>
                                                    <tr><td>Earned Utl</td><td align="right">[% nf.format_number(hdr.$id.earned_utilized,0) %]</td></tr>
                                                    <tr><td>Earned Bal</td><td align="right">[% nf.format_number(hdr.$id.earned_balance,0) %]</td></tr>
                                                </table>
                                            </td>
                                            <td valign="top">
                                                <table width="100%">
                                                    <tr><td>Annual Sick</td><td align="right">[% nf.format_number(hdr.$id.sick_allowed,0) %]</td></tr>
                                                    <tr><td>Sick YTD</td><td align="right">[% nf.format_number(hdr.$id.sick_mtd,0) %]</td></tr>
                                                    <tr><td>Sick Bal</td><td align="right">[% nf.format_number(hdr.$id.sick_balance,0) %]</td></tr>
                                                    <tr><td>Absents</td><td align="right">[% nf.format_number(hdr.$id.absents,0) %]</td></tr>
                                                    <tr><td>Absents YTD</td><td align="right">[% nf.format_number(hdr.$id.absents_ytd,0) %]</td></tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td></tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr> <!-- Third section -->
            <td>

            </td>
        </tr>
    </table>
<P CLASS="breakhere">
[% END %]

</body>
</html>


