<html>
 <head>
  <title>Invoice</title>
  <link rel="stylesheet" href="/munshi9/standard.css" type="text/css">
 </head>

<body onload="return window.print();">

  <img src="http://localhost/munshi9/logo.jpg">

  <table width="100%" cellspacing="0" cellpadding="0">
    <tr>
      <th colspan="2">
        <h1>Reg Card</h1>
      </th>
    </tr>

    <tr>
      <td valign="top">
        <table width="100%" cellspacing="0" cellpadding="3" border="1">
          <tr>
            <th align="left">ID</th>

            <td align="left">[% res.res_id %]</td>
          </tr>

          <tr>
            <th align="left">Guest Name</th>

            <td align="left">[% res.guest_name1 %]<br>
            <br></td>
          </tr>

          <tr>
            <th align="left">Room Num</th>

            <td align="left">[% res.room_num %]</td>
          </tr>

          <tr>
            <th align="left">Adults</th>

            <td align="left">[% res.adults %]</td>
          </tr>

          <tr>
            <th align="left">Room Rate</th>

            <td align="left">[% res.room_rate %]</td>
          </tr>

          <tr>
            <th align="left">Passport</th>

            <td align="left">[% res.passport %]&nbsp;</td>
          </tr>

          <tr>
            <th align="left">Profession</th>

            <td align="left">[% res.profession %]&nbsp;</td>
          </tr>

          <tr>
            <th align="left">Company</th>

            <td align="left">[% res.company %]</td>
          </tr>

          <tr>
            <th align="left">Address</th>

            <td align="left">[% res.address %]&nbsp;</td>
          </tr>

          <tr>
            <th align="left">Checkin Date</th>

            <td align="left">[% res.checkin_date %]</td>
          </tr>

          <tr>
            <th align="left">Checkout Date</th>

            <td align="left">[% res.checkout_date %]</td>
          </tr>
        </table>
      </td>

      <td valign="top">
        <table width="100%" cellspacing="0" cellpadding="6" border="1">
          <tr>
            <th align="left">Coming From</th>

            <td align="left">[% res.coming_from %]&nbsp;</td>
          </tr>

          <tr>
            <th align="left">Mode of Payment</th>

            <td align="left">[% res.payment_mode %]&nbsp;</td>
          </tr>

          <tr>
            <th align="left">Advance</th>

            <td align="left">[% res.advance %]</td>
          </tr>

          <tr>
            <th align="left">News Paper</th>

            <td align="left">[% res.newspaper %]&nbsp;</td>
          </tr>

          <tr>
            <th align="left">Tel/Cell #</th>

            <td align="left">[% res.mobile %]</td>
          </tr>

          <tr>
            <th align="left">Email</th>

            <td align="left">[% res.email %]</td>
          </tr>

          <tr>
            <th align="left">Nation</th>

            <td align="left">[% res.nation %]</td>
          </tr>

          <tr>
            <th align="left">Date of Birth</th>

            <td align="left">[% res.dob %]&nbsp;</td>
          </tr>

          <tr>
            <th align="left">NIC Num</th>

            <td align="left">[% res.nid_num %]&nbsp;</td>
          </tr>
<!--
          <tr>
            <th align="left">Purpose</th>
            <td align="left">[% res.purpose %]&nbsp;</td>
          </tr>
          <tr>
            <th align="left">Next Dest</th>
            <td align="left">[% res.next_dest %]&nbsp;</td>
          </tr>
          <tr>
            <th align="left">Res Remarks</th>
            <td align="left">[% res.res_remarks %]&nbsp;</td>
          </tr>
          <tr>
            <th align="left">Checkin Remarks</th>
            <td align="left">[% res.checkin_remarks %]&nbsp;</td>
          </tr>
-->
        </table>
      </td>
    </tr>

    <tr>
      <td colspan="4" align="right">CHECKED-IN BY: [% res.entered_by %] AT [% checkin_time %]</td>
    </tr>
  </table><br>
  
  <table width="100%">
  <tr>
    <td><img src=/uploads/[% res.res_id %]_front.png width="200" height="100"></td>
    <td><img src=/uploads/[% res.res_id %]_back.png width="200" height="100"></td>
  </tr>
  </table>
  <b>Please note:</b>

  <ol>
    <li><b>Checkin Time: 12:00 noon, Checkout Time: 14:00 hours. Late checkout will be charged</b></li>
    <li>Consumption of Alcoholic Beverages is prohibited by Non-Permit Holders.</li>
    <li>Gambling is prohibited and ammunition is not allowed.</li>
    <li>Please deposit Room Key at the Front Desk while leaving Hotel. If it lost Rs. 1,000 (One Thousand Only) would be charged.</li>
    <li>Guest will be responsible for any damage done in the room.</li>
    <li>Visitors are not allowed in the room after 22:00 hrs.</li>
    <li>The Hotel Prohibits all food supplies from outside caterers as well as cooking in Hotel room.</li>
    <li>The Person who will be drunk, uncouple, mentally deranged or behaving in an indecent manner will not be admitted in the hotel. If any such person is already registered in the hotel, The Management reserves the right to checkout him from the Hotel.</li>
    <li>Further more, The Management reserves all rights of admission.</li>
    <li>Please do not keep valuables like jewelry cash or any other precious items in your room; safety lockers are available at the Front Office.<br>
    I, solemnly agree all above mentioned instructions from the management of AMER HOTEL.</li>
  </ol><br>

  <table width="100%">
    <tr>
      <td colspan="2">&nbsp;</td>
    </tr>

    <tr>
      <td></td>
    </tr>

    <tr>
      <td></td>
    </tr>

    <tr>
      <td colspan="2">&nbsp;</td>
    </tr>

    <tr>
      <td></td>
    </tr>

    <tr>
      <td>__________________</td>

      <td>__________________</td>
    </tr>

    <tr>
      <td></td>
    </tr>

    <tr>
      <td>Guest</td>

      <td>Reception</td>
    </tr>
  </table>
  This property is managed by AMER HOTEL
</body>
</html>
