<html>
 <head>
  <title>Invoice</title>
  <link rel="stylesheet" href="/munshi9/standard.css" type="text/css">
 </head>

<body onload="return window.print();">
<table cellspacing="0" cellpadding="3" border="0" width="100%">
	<tr><td colspan="4" align="right"><h1>SALES TAX INVOICE</h1></td></tr>
	<tr><td colspan="4" align="right">GST :</td><td>03-09-9801-501-73</td></tr>
	<tr><td colspan="4" align="right">NTN :</th><td>2927352-8</td></tr>
	<tr><td colspan="4" align="right">&nbsp;</td><td>&nbsp;</td></tr>

	<tr><th align="left">Attention : </th><td>[% company.contact_person %]</td><th align="left">Invoice Number :</th><td>[% hdr.inv_num %]</td></tr>
	<tr><th align="left">Title : </th><td>[% company.title %]</td><th align="left">&nbsp;</th><td>&nbsp;</td></tr>
	<tr><th align="left">Company : </th><td>[% company.company %]</td><th align="left">Invoice Amount :</th><td>[% nf.format_price(hdr.inv_amt) %]</td></tr>
	<tr><th align="left">Address : </th><td>[% company.address %]</td><th align="left">Invoice Date :</th><td>[% hdr.inv_date %]</td></tr>
	<tr><th align="left">City : </th><td>[% company.city %]</td><th align="left">GST :</th><td>[% company.other_ref2 %]</td></tr>
	<tr><th align="left">Phone No : </th><td>[% company.phone %]</td><th align="left">NTN :</th><td>[% company.ntn %]</td></tr>
	<tr><td colspan=6>PAYMENT REQUESTED WITHIN 15 TO 20 DAYS, OUTSTANDING BILLS BEYOND 30 DAYS ARE LIABLE TO 1% PER MONTH AS LATE CHARGES</td></tr>
</table>

<br/><br/>
<table width="100%" border=1 cellspacing=0 cellpadding=3>
<tr>
    <th>Date</th>
    <th>Res ID</th>
    <th>Guest Name</th>
    <th>Reference</th>
    <th>Room #</th>
    <th>Amount</th>
    <th>Sales Tax</th>
    <th>Advance Tax</th>
    <th>Total</th>
</tr>
[% tax_amt_total = 0 %]
[% bill_amt_total = 0 %]
[% btc_pymt_total = 0 %]
[% tax10_total = 0 %]
[% FOREACH res_id IN dtl.keys.sort %]
<tr>
    <td nowrap>[% dtl.$res_id.charge_date %]</td>
    <td>[% dtl.$res_id.res_id %]</td>
    <td>[% dtl.$res_id.guest_name1 %]</td>
    <td>[% dtl.$res_id.other_ref1 %]</td>
    <td>[% dtl.$res_id.room_num %]</td>
    <td align="right">[% nf.format_price(dtl.$res_id.tax_amt) %]</td>
    <td align="right">[% nf.format_price(dtl.$res_id.amount - dtl.$res_id.tax_amt) %]</td>
    <td align="right">0</td>
    <td align="right">[% nf.format_price(dtl.$res_id.amount) %]</td>
</tr>
[% tax_amt_total = tax_amt_total + dtl.$res_id.tax_amt %]
[% bill_amt_total = bill_amt_total + dtl.$res_id.amount %]
[% btc_pymt_total = btc_pymt_total + dtl.$res_id.amount %]
[% END %]

[% FOREACH sale_id IN chq.keys.sort %]
<tr>
    <td>[% chq.$sale_id.sale_date %]</td>
    <td>[% chq.$sale_id.sale_id %]</td>
    <td>[% chq.$sale_id.outlet_id %]</td>
    <td>[% chq.$sale_id.chq_num %]</td>
    <td>[% chq.$sale_id.covers %]</td>
    <td align="right">[% nf.format_price(chq.$sale_id.sale_amt+chq.$sale_id.tip) %]</td>
    <td align="right">[% nf.format_price(chq.$sale_id.ced) %]</td>
    <td align="right">[% nf.format_price(chq.$sale_id.tax10) %]</td>
    <td align="right">[% nf.format_price(chq.$sale_id.btc_pymt) %]</td>
</tr>
[% tax_amt_total = tax_amt_total + chq.$sale_id.sale_amt + chq.$sale_id.tip %]
[% bill_amt_total = bill_amt_total + chq.$sale_id.net_amt %]
[% btc_pymt_total = btc_pymt_total + chq.$sale_id.btc_pymt %]
[% tax10_total = tax10_total + chq.$sale_id.tax10 %]
[% END %]
 <tr>
    <th colspan=5 align="right">TOTAL</th>
    <th align="right">[% nf.format_price(tax_amt_total) %]</th>
    <th align="right">[% nf.format_price(bill_amt_total - tax_amt_total - tax10_total) %]</th>
    <th align="right">[% nf.format_price(tax10_total) %]</th>
    <th align="right">[% nf.format_price(btc_pymt_total) %]</th>
</tr>

[% total_rec_amt = 0 %]
[% FOREACH id IN receipts.keys.sort %]
<tr>
<td colspan="8" align="right">[% receipts.$id.rec_type %] on [% receipts.$id.tr_date %] via [% receipts.$id.rec_ref %]</td>
<td align="right">[% nf.format_price(receipts.$id.rec_amt) %]</td>
</tr>
[% total_rec_amt = total_rec_amt + receipts.$id.rec_amt %]
[% END %]
<tr>
    <th colspan="8" align="right">BALANCE</th>
    <th align="right">[% nf.format_price(btc_pymt_total - total_rec_amt) %]</th>
</tr>
</table>


<br/>
<br/>
<br/>
<br/>
<br/>
<div align="right"><b><div align="right">Credit Manager</div>
<div align="right">Farrukh Ehsan</div>
<div align="right">0333­6068886</div>
<div align="right"></div>
<br/>
<br/>
<br/>
<div align="center">You are requested to kindly obtain clarification if any within a week from the recept of this invoice otherwise it will be assumed that the invoice is in order.</div>

<div align="center">PLEASE SEND CROSSED CHEQUE IN THE FAVOUR OF "<b>HOTEL CROWN PLAZA LAHORE.</b>"</div>

</BODY>
</HTML>

